.name {
  background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&auto");
  background-size: cover;
  background-position: center;
  height: 95vh;
}



.card {
  margin: 20px;
  text-align: center;
  min-height: 250px;
  color: black;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}



.card1{
    display: flex;
    justify-content: center;
}

.nav{
  background-color: #5db2ee;
}

body{
  background-color: #5db2ee;
}

.subButt{
  width: 75px;
}