.name {
  background-image: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnRhaW5zfGVufDB8fDB8fA%3D%3D&auto");
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.beard-pic {
  border-radius: 50px;
  padding: 10px;
  height: 250px;
  width: 265px;
}



.card {
  margin: 20px;
  text-align: center;
  min-height: 250px;
  color: black;
}



.card1{
    display: flex;
    justify-content: center;
}